@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.cashback-card {
    width: 30%;
    height: 165px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 30px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 28px;

    h2 {
        margin: 0;
        @include largeBold($black);
    }
    span {
        @include baseMedium(#434343);
    }

    &.light {
        background: #eaecee;
    }
    &.dark {
        background: rgba(136, 179, 184, 0.6);
    }
}
