@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.background {
    padding: 40px;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 28px;
    position: relative;
}
