@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@mixin baseBold($color) {
    font-weight: 700;
    font-size: 16px;
    color: $color;
}

@mixin baseMedium($color) {
    font-weight: 500;
    font-size: 16px;
    color: $color;
}

@mixin bigMedium($color) {
    font-weight: 500;
    font-size: 20px;
    color: $color;
}

@mixin bigBold($color) {
    font-weight: 700;
    font-size: 20px;
    color: $color;
}

@mixin big2Bold($color) {
    font-weight: 700;
    font-size: 24px;
    color: $color;
}

@mixin largeMedium($color) {
    font-weight: 500;
    font-size: 30px;
    color: $color;
}

@mixin largeBold($color) {
    font-weight: 700;
    font-size: 30px;
    color: $color;
}
@mixin extraLargeBold($color) {
    font-weight: 700;
    font-size: 48px;
    color: $color;
}

@mixin rubikBigMedium($color) {
    font-family: "Rubik";
    font-weight: 500;
    font-size: 35px;
    color: $color;
}

@mixin rubikBaseRegular($color) {
    font-family: "Rubik";
    font-weight: 400;
    font-size: 16px;
    color: $color;
}

@mixin inputFont($color) {
    font-family: "Nunito Sans";
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.02em;
}
