//colors
$black: #1c1c1e;
$black2: #0b132a;
$textGray: #4f5665;
$gray: #808080;
$gray2: #1d1929;
$white: #ffffff;
$blue: #003cff;
$purple: #b4387a;
$lightPurple: #f5f4ff;
$footerGray: #2d3748;
$orange: #eb801d;
$inputButton: #686df1;
//fonts
$baseFont: 16px;
$bigFont: 20px;
$logoFont: 24px;
$h1Font: 48px;
$h2Font: 35px;
$h3Font: 30px;
