@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.prescoring-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;

    &__loader {
        position: absolute;
        left: calc(50% - 35px);
        top: calc(33%);
    }

    &__upper {
        width: 100%;
        display: flex;
        justify-content: space-between;

        &__left {
            width: 50%;
            border-right: 1px dashed rgba(128, 128, 128, 0.4);
            display: flex;
            flex-direction: column;
            gap: 20px;

            &__header {
                width: 90%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            h2 {
                margin: 0;
                @include largeBold($black);
            }
        }

        &__right {
            width: 45%;

            span {
                @include bigBold($black);
            }
        }
    }

    &__contact {
        margin: 0;
        @include bigBold($black);
    }

    &__fields {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        row-gap: 25px;
    }

    &__button {
        display: flex;
        justify-content: flex-end;
    }
}
