@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.offers {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
}
